*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #cbcbcb;
    color:#4a4a4a;
    height:15vh;
    margin-left: 2px;
    margin-right: 2px;
    border: 3px solid #4a4a4a;
    border-radius: 20px;
}
main{
    height:70vh;
}
header h1{
    margin-bottom: 5vh;
}
header h3{
    text-align:right;
    margin-right:3px;
}
main{
    color:green;
}
.main{
    margin-top: 50px;
    width:310px;
    background-color:#cbcbcb;
    border: 3px solid #4a4a4a;
    border-radius: 20px;
    margin-left:30vw;
    margin-right:30vw;
}
.screen{
    height:100px;
    border: 2px solid #4a4a4a;
    border-radius: 16px;
    background-color: #6d8196;
}
.btn button{
    height:90px;
    width:96.5499px;
    border: 2px solid #4a4a4a;
    border-radius: 20px;
    margin:2px;
    font-weight:400;
    font-size: 34px;
}
.btn button:hover{
    background-color:#cbcbcb;
}