*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #cbcbcb;
    color:#4a4a4a;
    height:15vh;
    margin-left: 2px;
    margin-right: 2px;
    border: 3px solid #4a4a4a;
    border-radius: 20px;
}

main{
    height:auto;
    color:rgb(5, 2, 44);
    display: flex;
    justify-content: center;
}

header h1{
    margin-bottom: 5vh;
}

header h3{
    text-align:right;
    margin-right:3px;
}

.main{
    margin-top: 50px;
    width:310px;
    background-color:#cbcbcb;
    border: 3px solid #4a4a4a;
    border-radius: 20px;
    padding: 5px;
}
.screen{
    height:100px;
    border: 2px solid #4a4a4a;
    border-radius: 16px;
    background-color: #999c9f;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size:40px;
    align-items:center;
    overflow: hidden;
    white-space:nowrap;
}
.c-btn{
    grid-column: 1/4;
}
.btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}
.btn button{
    height:80px;
    border: 2px solid #4a4a4a;
    border-radius: 20px;
    font-weight:400;
    font-size: 34px;
    width: 100%;
}

.btn button:hover{
    background-color:#cbcbcb;
}
footer{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
footer div{
    height:100px;
    width: 100%;
    background-color: #cbcbcb;
    margin-top: 50px;
    border: 2px solid #4a4a4a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 500;
}